@import '../../../styles.scss';

.hero {
    height: calc(100vh - 40px);
    background-position: center;
    background-size: cover;
    opacity: 0.7; 
    position: relative;
    overflow: hidden;

    .hero-picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 200px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

    .title-text {
        position: absolute;
        @include pos(0);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        //animation: fadedown 2s forwards;

        * {
            font-weight: 300;
            font-size: 30px;
        }

        h1 {
            font-size: 70px;
            font-weight: 400;
        }
    }

    .bottom {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;

        * {
            color: #333;
            display: inline-block;
        }

        a {
            cursor: pointer;
        }

        span {
            font-size: 20px;
            font-weight: 200;
        }
        
        i {
            font-size: 60px;
            color: #333;
            line-height: 0px;
            margin-top: -5px;
        }
    }
}

.section {
    background-color: #F5F5F5;
    padding: 80px 0; 

    h3 {
        text-align: center;
        letter-spacing: 1px;
        font-size: 30px;
        font-weight: 300;
        padding-bottom: 80px;

        small {
            display: block;
            font-size: 18px;
            padding-top: 10px;
        }
    }
}


.skills {
    padding: 80px 0 0;

    .content-max-width {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;

        &:after {
            display: none;
        }

        .item {
            position: relative;
            height: 100px;
            width: 25%;
            text-align: center;
            margin: 0 0 80px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                p {
                    opacity: 1;
                }

                img {
                    filter: blur(13px);
                }

            }

            p {
                opacity: 0;
                position: absolute;
                @include pos(50%, auto, auto, 50%);
                transform: translate(-50%, -50%);
                transition: opacity .5s ease-in-out;
                font-size: 18px;
            }

            img {
                max-width: 100px;
                max-height: 100px;
                flex-basis: 25%;
                transition: filter .5s ease-in-out;
            } 
             
        }

        
    }
}

.about {
    .image {
        @include bg(cover);
        background-color:white;
        height: 250px;
        width: 250px;
        margin-top: 30px;
        float: left;
        border-radius: 50%;
        //overflow: hidden;
        position: relative;
    }

    .btn {
        position: absolute;
        bottom: 20px;
        right: 0;
    }

    article {
        width: calc(100% - 250px);
        padding-left: 50px;
        float: right;
    }
}

.portfolio {
    $row: 3;

    ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / #{$row});
        text-align: center;
        font-size: 0;
        height: calc(940px / #{$row});
        border: 2px transparent solid;
        transition: box-shadow .10s, z-index .10s, transform .10s ease-in-out;
        cursor: pointer;
        padding: 20px;
        position: relative;
        z-index: 1;
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0);
        //padding-bottom: 40px;

        &:hover {
            transition-delay: .11s;
            transform: scale(1.05);
            z-index: 10;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);

            .overlay {
                opacity: 1;
            }
        }

        &:active {
            transition-delay: 0s;
            transform: scale(1.03);
            transition: none;
        }

        .overlay {
            //background-color: rgba(white, 0.7);
            transition: opacity .3s ease-in-out;
            opacity: 0.0001;

            .background {
                position: absolute;
                @include pos(0);
                opacity: 0.7;
            }

            .container {
                position: absolute;
                @include pos(50%, 0, auto, 0);
                transform: translateY(-50%);
                z-index: 10;
                padding: 10px 0;
                background-color: rgba(white, 0.8);
                
                * {
                    color: #333;
                }
            }

            .text {
                font-size: 22px;
                font-weight: 300; 
            }

            i {
                display: inline-block;
                font-size: 25px;
                padding: 8px 2px;
            }

            .article {
                font-size: 16px;
                font-weight: 300;
                padding: 0px 3%;
                //text-align: justify;

                /deep/  p {
                    padding: 0 0 8px 0;
                }
            }
        }
    }

    .image {
        @include bg(contain);
        margin: 0 auto;
        position: absolute;
        @include pos(10px);
        //border-radius: 50%;
        //display: inline-block;
    }

    i {
        color: white;
        color: white;
        font-size: 100px;
    }

    h5 {
        font-weight: 300;
        margin: 30px 0;
        letter-spacing: 0.9px;
        font-size: 20px;
        width: 250px;
        display: inline-block;

        &:after {
            content: '';
            display: block;
            width: 50px;
            height: 1px;
            background: #999;
            margin: 10px auto;
        }
    }

    p {
        //display: inline-block;
        text-align: justify;
        //width: 250px;
        margin-bottom: 25px;
        letter-spacing: 0.5px;
        line-height: 25px;
        font-weight: 300;
        font-size: 16px;
    }
}

.contact {
    height: calc(100vh - 40px);
    background-color: #EEEEEE;
    position: relative;

    .content-max-width {
        position: static;
    }

    i {
        display: inline-block;
        margin-right: 10px;
        color: white;
        position: absolute;
        @include pos(0, auto, 0, 25px);
    }

    a {
        color: white;
        position: absolute;
        background: #333;
        padding: 0 25px;
        line-height: 80px;
        font-size: 20px;
        z-index: 999;
        font-weight: 300;
        width: 350px;
        text-align: center;
        transition: opacity .25s;
        @include pos(50%, auto, auto, 50%);

        &.location {
            //@include pos(auto, 0px, 0px, auto);
            transform: translate(-50%, calc(-50% + 90px));
        }

        &.phone {
            //@include pos(auto, 0px, 40px, auto);
            transform: translate(-50%, -50%);
        }

        &.email {
            //@include pos(auto, 0px, 80px, auto);
            transform: translate(-50%, calc(-50% - 90px));
        }

        &.cv {
            //@include pos(auto, 0px, 0px, auto);
            transform: translate(-50%, calc(-50% + 180px));
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            transition: opacity 0s;
            opacity: 0.6;
        }
    }
}