<section class="hero">

    <app-imageloader
        class="hero-picture"
        [thumb]="app.store.hero.thumb"
        [src]="app.store.hero.src"
    ></app-imageloader>


    <div class="title-text">
        <div>
            <h1>David Alsh</h1>
            <h2>Full Stack Software Developer</h2>
        </div>
    </div>

    <div class="bottom">
        <a (click)="scrollDown()">
            <span>Read On</span><br>
            <i class="ion-ios-arrow-down"></i>
        </a>
    </div>

</section>

<section class="section skills">
    <h3>
        Skills
        <small>Full Stack JavaScript Developer</small>
    </h3>

    <div class="content-max-width">

        <div class="item" *ngFor="let skill of app.store.skills">
            <img [src]="skill.image" alt="">
            <p>{{skill.name}}</p>
        </div>
        
    </div>
</section>

<section class="section about">
    <div class="content-max-width">
        <h3>
            About
            <small>A Journey, A Story, A Nuisance</small>
        </h3>
    
        <div 
            class="image" 
            [ngStyle]="{
                'background-image' : 'url(' + app.store.my_picture + ')'
            }"
        ></div>
        <article class="wysiwyg" [innerHTML]="this.ngSanitizer.bypassSecurityTrustHtml(app.store.about_me)"></article>

        <div class="clear"></div>
    </div>
</section>

<section class="section portfolio">
    <div class="content-max-width">
        <h3>
            Portfolio
            <small>A Few Of The Things I Have Made</small>
        </h3>
        <ul>
            <li 
                *ngFor="let project of app.store.projects"
                [ngStyle]="{
                    'background-color' : project.brand_color.muted
                }"
            >
                <div 
                    class="image" 
                    [ngStyle]="{
                        'background-image' : 'url(' + project.thumb + ')'
                    }"
                ></div>
                <div class="overlay">
                    <div 
                        class="background"
                        [ngStyle]="{ 'background-color' : project.brand_color.brand}"
                    ></div>
                    <div class="container">
                        <div class="text">{{ project.name }}</div>
                        <i 
                            class="technologies" 
                            *ngFor="let tech of project.technologies"
                            [ngClass]="technology(tech)"
                        ></i>
                        <div class="article" [innerHTML]="project.article"></div>
                    </div>
                    
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="section contact">
    <div class="content-max-width">
        <h3>
            Contact
            <small>Your Friendly Neighbourhood Developer</small>
        </h3>
        <a [href]="'mailto:' + app.store.details.email" class="email"><i class="ion-at"></i> {{ app.store.details.email }}</a>
        <a [href]="'tel:' + app.store.details.phone.number" class="phone"><i class="ion-android-call"></i> {{ app.store.details.phone.text }}</a>
        <a [href]="app.store.details.location.link" target="_blank" class="location"><i class="ion-map"></i> {{ app.store.details.location.text }}</a>
        <a [href]="app.store.details.cv" target="_blank" class="cv"><i class="ion-arrow-down-a"></i> CV / Resume</a>
    </div>
</section>